html{
  background-image: url("images/space.jpg");
  background-size: cover;
}

.clock{
  display: flex;
  margin: 10% auto;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 20px solid rgba(225, 233, 247, 0.5);
  border-radius: 50%
}
